{% extends 'MyBotBundle::layout.html.twig' %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('frontend/fokus.js') }}"></script>
{% endblock %}


{% block auctions %}
	<div class="container-fluid marginTop">

		<div class="row-fluid">
			<div class="span12">
				<h3><a href="/">Actions</a> -> Fokus</h3>
			</div>
		</div>

		
		<div class="row-fluid">
			<div class="span12">
				<p class="borderDashed">&nbsp;</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p>
					<em>[{{ auction.id }}]</em>
					<strong data-bind="text: active">{{ auction.status }}</strong>
				</p>
				<p>
					<em>[{{ auction.product.id }}]</em>
					<strong>{{ auction.product.name }}</strong>
				</p>
			</div>
			<div class="span3">
				<h3 data-bind="text: endAt"></h3>
				<p>
					<strong data-bind="text: price">{{ auction.bids.last.price }}</strong>
					<em data-bind="text: username">{{ auction.bids.last.user.username }}</em>
				</p>
			</div>
			<div class="span2">
				<p>
					Cost {{ auction.product.retail }} retail
					<br>Increase {{ auction.step }} per bid
				</p>
			</div>
			<div class="span2">
				<h5>
					<span data-bind="text: bidCount">?</span> bids made
					<br>{{ auction.product.averageBids }} after {{ auction.product.auctions.count }} auctions
				</h5>
			</div>
			<div class="span1">
				<p>todo</p>
			</div>
		</div>
		


		{% if (app.debug) %}
		<div class="row-fluid">
			<div class="span12">
				<h5>Debug:</h5>
			</div>
		</div>
		{% endif %}

	</div>
{% endblock %}

